.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featuresList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.featureItem {
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
